
a:visited {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #6FA8FF;
}

.medical-admin-allergies {
    text-align: initial;
    background-color: #D9D9D9;
    min-height: 100vh;
    font-size: 40px;
    color: white;
}

.medical-admin-allergies-header {
    text-align: left;
    background-color: #6FA8FF;
    height: 100px;
}

.medical-admin-allergies-column {
    text-align: left;
    color: black;
    background-color: white;
    stroke: black;
    float: left;
    height: 837px;
    width: 270px;
    box-shadow: 5px 5px 10px gray;
}

.medical-admin-allergies-column-text {
    padding-top: 20px;
    font-size: 40px;
}

.medical-admin-allergies-header-text {
    padding-top: 20px;
    margin-left: 20px;
}

.medical-admin-allergies-body {
    text-align: center;
    align-items: center;
}

.medical-admin-allergies-highlighted-text {
    color: #6FA8FF;
}

.medical-admin-allergies-table-top-spacer {
    margin-left: 587px;
    margin-right: auto;
    width: 1000px;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D9D9D9;
    color: black;
}

.medical-admin-allergies-table-bottom-spacer {
    margin-left: 587px;
    margin-right: auto;
    width: 1000px;
    border-top: 2px solid black;
    text-align: center;
    height: 10px;
    background-color: #D9D9D9;
    color: black;
}

.medical-admin-allergies-table-wrapper {
    overflow-y: auto;
    height: 600px;
}

table {
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow-y: scroll;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    color: black;
}

th {
    font-size: 25px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background: white;
}

tr:nth-child(even) {
    background-color: #D9D9D9;
}

td {
    font-size: 20px;
    text-align: center;
}

.circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    background-color: darkgray;
    border-radius: 50%;
}

.medical-admin-allergies-exit-text {
    padding-top: 320px;
    font-size: 40px;
}

.login-input {
    padding-top: 20px;
    text-align:center;
    font-size: 20px;
    display: block;
}