
a:visited {
    color: black;
}

a:link {
    text-decoration: none;
}

.home-page {
    text-align: initial;
    background-color: white;
    min-height: 100vh;
    font-size: 4vh;
    color: white;
    height: 100vh;
    width: 100vw;
}

.home-page-header {
    text-align: center;
    background-color: #6FA8FF;
    height: 10vh;

}

.home-page-header-text {
    text-align: center;
    padding-top: 2vh;
}

.home-page-body {

    height: auto;
    color: black;
}

.home-page-logo-wrapper {
    text-align: center;
    margin-top: 50px;
}

.circle-text {
    font-size: 4vh;
    text-align: center;
    padding-top: 100px;

}

img {
    height: 30vh;
}

.home-page-login-input {
    padding-top: 2vh;
    text-align: center;
    font-size: 2vh;
    display: block;
}

input {
    height: 2vh;
    width: 18vh;
    font-size: 2vh;
}