a:visited {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #6FA8FF;
}

.system-admin-home {
    text-align: initial;
    background-color: #D9D9D9;
    min-height: 100vh;
    font-size: 4vh;
    color: white;
    height: 100vh;
    width: 100vw;
}

.system-admin-home-header {
    text-align: left;
    background-color: #6FA8FF;
    height: 10vh;
}

.system-admin-home-column {
    text-align: left;
    color: black;
    background-color: white;
    stroke: black;
    float: left;
    height: 90vh;
    width: 30vh;
    box-shadow: 5px 5px 10px gray;
}

.system-admin-home-column-text {
    padding-top: 2vh;
    font-size: 4vh;
}

.system-admin-home-header-text {
    padding-top: 2vh;
    margin-left: 2vh;
}

.system-admin-home-body {
    padding-top: 5vh;
    padding-left: 10vh;
    color: black;
}

.page-title {
    text-align: center;
    font-size: 6vh;
}

.system-admin-home-highlighted-text {
    color: #6FA8FF;
}

.system-admin-home-table-top-spacer {
    margin-left: 58vh;
    margin-right: auto;
    width: 1000px;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #D9D9D9;
    color: black;
}

.system-admin-home-table-bottom-spacer {
    margin-left: 58vh;
    margin-right: auto;
    width: 100vh;
    border-top: 2px solid black;
    text-align: center;
    height: 1vh;
    background-color: #D9D9D9;
    color: black;
}

.system-admin-home-table-wrapper {
    overflow-y: auto;
    height: 60vh;
}

th {
    font-size: 2.5vh;
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: #D9D9D9;
}

td {
    font-size: 2vh;
    text-align: center;
}

.system-admin-home-exit-text {
    padding-top: 61vh;
    font-size: 4vh;
}

.login-input {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    display: block;
}

.system-admin-home-profile-wrapper {
    padding-top: 14vh;
    text-align: center;
    padding-left: 18vw;
}

.profile-text {
    color: black;
    display: inline-block;
}

.row {
    padding: 0 1vh;
    text-align: center;
}

.column {
    padding: 0 1vh;
    display: flex;
}

.column img {
    margin-top: 5vh;
    vertical-align: middle;
    margin-left: 5vw;
}

.detail-text {
    font-size: 3vh;
}
